<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145835297-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-145835297-3');
  </script>        

  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">	
  <title>Afrocodez - Web Solutions</title>	

  <meta name="keywords" content="Website Design" />
  <meta name="description" content="Afrocodez Website Designs">
  <meta name="theme-color" content= "#0088CC" />
  <meta name="author" content="Afrocodez">

  <!-- Favicon -->
  <!-- <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" /> -->
  <!-- <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"> -->

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

  <!-- Web Fonts  -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400&display=swap" rel="stylesheet" type="text/css">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/vendor/animate/animate.compat.css">
  <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css">

  <!-- Theme CSS -->
  <link rel="stylesheet" href="/css/theme.css">
  <link rel="stylesheet" href="/css/theme-elements.css">
  <link rel="stylesheet" href="/css/theme-blog.css">
  <!-- <link rel="stylesheet" href="/css/theme-shop.css"> -->


  <!-- Skin CSS -->
  <link rel="stylesheet" href="/css/skins/default.css"> 

  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="manifest" href="manifest.webmanifest" />


  <!-- Head Libs -->
  <script src="/vendor/modernizr/modernizr.min.js"></script>
 <script src="index.js"></script>
 <script src="app.js"></script>

</head>


<link href="/css/luccy.css" rel="stylesheet">
	<link href="/css/menu.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script> 

<div class="container">
    <div class="row">     
            <div style="width:90%; margin:100px auto ">
                <h1 class="header" style="text-align: center;">Add a New Post</h1>
                <form action="/posts" method="POST">
                    <div class="form-group"> <input class="form-control" type="text" name="title" placeholder="title"> </div>
                    <!-- <div class="form-group"> <input class="form-control" type="text" name="body" placeholder="enter post" min="0.01" step="0.01"> </div> -->
                    <div class="form-group"> <input class="form-control" type="text" name="author" placeholder="author"> </div>
                    <div class="form-group"> <input class="form-control" type="date" name="date" placeholder="date"> </div>
                    <div class="form-group"> <input class="form-control" type="text" name="postedBy" placeholder="postedBy"> </div>
                    <div class="form-group"> <input class="form-control" type="text" name="image" placeholder="cover image url"> </div>
                    <div class="form-group"> <textarea name="body" class="form-control" id="" cols="60" rows="20" placeholder="review">  Write post</textarea></div>
                    <div class="form-group"> <button style="background-color: rgb(222, 191, 115); border: none;" class="btn btn-lg btn-primary btn-block">Submit!</button> </div>
                </form>   
                <a href="/posts">Go Back</a>
            </div>
    </div>
</div>

<script>
    CKEDITOR.replace( 'body', {
        plugins: 'wysiwygarea, popup, font, image, blockquote, dialogui, button, colorbutton, toolbar, basicstyles, link'
    } );
  </script>

 <!-- ################  END OF FORM SECTION      ##########################################  -->

<% include ../partials/footer %>
